.button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 0;
  margin: 32px 0 0 0;
  padding: 14px 24px 12px 24px; /* bo krzywo jest */
  background-color: transparent;
  color: #2C2C2C;
  border: 2px solid #2C2C2C;
  /*
      _____________________
     /        R.I.P        \
     | stary border radius |
     |      2017-2018      |
     |                     |
     |     [*] [*] [*]     |
     \                     /
      `````````````````````
  */
  /* border-radius: 99999px; */
  border-radius: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .24s ease;
  -webkit-appearance: none;
  -moz-appearance:    none;
  cursor: pointer;
}

.buttonCenter {
  display: block;
  margin: 32px auto 0 auto;
}

.buttonSmall {
  margin: 6px;
  padding: 7px 12px 6px 12px;
}

.button:hover {
  background-color: #2C2C2C;
  color: white;
  border: 2px solid #2C2C2C;
}

.button:active {
  background-color: #1f1f1f;
  border: 2px solid #1f1f1f;
}

.blank {
  outline: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  float: right;
  transform: translateX(6px);
}
