.wrapper {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper_right {
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* .wrapper_fix { */
/*   transform: translateY(-50%); */
/* } */

.item {
  font-size: 18px;
  padding: 6px 0;
  position: relative;
  cursor: pointer;
}

.item > .text {
  position: relative;
  display: block;
  padding: 0 6px;
}

.item > .text:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  right: 100%;
  margin: auto;
  /* TODO: ten kolor jest randomowy, do zmiany */
  background-color: #12DB9A;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}



.item:hover > .text:before {
  visibility: visible;
  width: 100%;
}


.item_vertical {
  display: block;
  margin: 12px 0;
}

.item_horizontal {
  display: inline-block;
  margin: 0 12px;
  top: 50%;
  transform: translateY(-50%);
}

.submenu {
  padding: 3px 0;
  margin: 3px 0 6px 0;
  background-color: #ddd;
  -webkit-transition: all 0.3s ease duration timing-function delay;
  -moz-transition: all 0.3s ease duration timing-function delay;
  transition: all 0.3s ease duration timing-function delay;
}

.submenu .item {
  font-size: 14px;
  padding: 0 12px;
}
