.main {
  padding: 12px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.logged {
  font-size: 36px;
  text-align: center;
  margin: 36px 0;
  font-weight: 700;
}

/* ??? */
.subtitle {
  font-size: 24px;
  text-align: center;
  margin: 48px 0;
}

.quizzesList {
  max-width: 1000px;
  margin: 0 auto;
}

.quiz {
  padding: 16px;
  background: #e5e5e5;
  margin: 4px 0;
  border-left: 5px solid;
  cursor: pointer;
}

.quiz:nth-of-type(1) {
  border-color: hsl(0, 80%, 69%);
}
.quiz:nth-of-type(2) {
  border-color: hsl(35, 80%, 69%);
}
.quiz:nth-of-type(3) {
  border-color: hsl(60, 80%, 69%);
}
.quiz:nth-of-type(4) {
  border-color: hsl(105, 80%, 69%);
}
.quiz:nth-of-type(5) {
  border-color: hsl(140, 80%, 69%);
}
.quiz:nth-of-type(6) {
  border-color: hsl(170, 80%, 69%);
}
.quiz:nth-of-type(7) {
  border-color: hsl(205, 80%, 69%);
}
.quiz:nth-of-type(8) {
  border-color: hsl(240, 80%, 69%);
}
