.nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 200px;
	height: 100vh;
	background: #eaeaea;
}

.logo {
  font-size: 2.85em;
  text-align: center;
}

.content {
  width: calc(100% - 224px);
  height: calc(100% - 12px);
  position: absolute;
  left: 212px;
  top: 12px;
}
