.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 224px;
  height: 100vh;
  background: #eaeaea;
}

.logo {
  margin: 12px;
}

.content {
  width: calc(100% - 248px);
  height: calc(100% - 12px);
  position: absolute;
  left: 236px;
  top: 12px;
}
